.App {
    text-align: center;
    position: relative;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.component {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.move-to-left {
    -webkit-animation: moveToLeft .6s ease both;
    animation: moveToLeft .6s ease both;
}

.move-to-right {
    -webkit-animation: moveToRight .6s ease both;
    animation: moveToRight .6s ease both;
}

@-webkit-keyframes moveToLeft {
    from {
        display: block;
    }
    to {
        -webkit-transform: translateX(-100%);
        display: none;
    }
}

@keyframes moveToLeft {
    from {
        display: block;
    }
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        display: none;
    }
}

@-webkit-keyframes moveToRight {
    from {
        display: block;
    }
    to {
        -webkit-transform: translateX(100%);
        display: none;
    }
}

@keyframes moveToRight {
    from {
        display: block;
    }
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        display: none;
    }
}